body {
    background-color: aliceblue;
    text-align: center;
    justify-content: center;
    box-align: center;
}

*::selection {
    background-color: tomato;
}

h1 {
    color: lime;
}

p {
    width: 100px;
}